{% extends "layout.html" %}
{% set active_page = active_page|default("examples") %}

{# Import code from macros to reuse in places #}
{% from 'macros.html' import listgroup, table %}


{% block body %}

<div class='well'>
    <div class='row'>
        <div class='col-md-12 col-md-offset-5'>
            <h1>Examples <small>Offset this with a class</small></h1>
        </div>
    </div>
     <div class='row'>
        <div class='col-md-12'>
            <h2 class='pull-left'>Force text left</h2>
            <h2 class='pull-right'>Force text right</h2>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12 col-md-offset-4'>
            <h4 id='split'>custom jinja filter: {{splitme|split('-')}}</h4>
        </div>
    </div>
</div>

{# Some Javascript and Input Examples #}
<div class='well'>
    <div class='row'>
        <div class='col-md-12'>
            <h4>Here are some Buttons that do Javascript things</h4>
        </div>
        <div class='col-md-4'>
            {# Bootstrap Form #}
            <form class="form-inline" role='form' id='randomform'>
              <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <input type="text" class="form-control input-sm" name='start' id="start" placeholder="Start">
                  <div class="input-group-addon">To</div>
                  <input type="text" class="form-control input-sm" name='end' id="end" placeholder="End">
                </div>
              </div>
              {# A normal form submission type='submit' will cause a page change/reload. We don't want that here.
              Change type="submit" to type="button"
              #}
              <button type="button" class="btn btn-primary" id='randombutton'>Get a Random Number</button>
            </form>

            {# Here is the output of the RandomNumber #}
            <div id='randomoutput'></div>

            {# Here is a List group #}
            <ul class="list-group">
              <li class="list-group-item">Try no numbers</li>
              <li class="list-group-item">Try a number and a letter</li>
              <li class="list-group-item">Try two numbers </li>
              <li class="list-group-item">Try only one number</li>
            </ul>
        </div>
        <div class='col-md-4'>
            {# You can set variables inside jinja2 #}
            {% set offtext = 'Change a Flask Session Variable to toggle loadcat' %}
            {% set ontext = 'Toggle loadcat off' %}

            {% if not session.loadcat %}
            <button type="button" class="btn btn-primary {{'active' if session.loadcat else ''}}" id='changesession' data-toggle='button' aria-pressed="{{'true' if session.loadcat else 'false'}}" data-complete-text='{{ontext}}'>{{offtext}}</button>
            {% else %}
            <button type='button' class='btn btn-danger' disabled='disabled'>My button is disabled :(</button>
            {% endif %}

        </div>
    </div>
</div>

{# Some Macro and Loop Examples #}
<div class='well'>
    <div class='row'>
        <div class='col-md-4'>
            {{listgroup(listdata, 'animals')}}
        </div>
        <div class='col-md-4'>
            <h3>I'm a macro table</h3>
            {{table(tabledata)}}
        </div>
    </div>
</div>

{% endblock body %}

<!-- JS Code -->
{% block code %}
    {# Load the javascript source code #}
    <script type='text/javascript' src="{{url_for('static',filename='js/example.js')}}"></script>
    <script type='text/javascript'>
        // instantiate the Example javascript object.
        // A Javascript Object MUST be called with the new keyword.
        var exam = new Example();
        console.log('here is my exam object', exam);
        // Use a public method on our new object
        var z = exam.add(5, 3);
        console.log("z is", z);
    </script>
{% endblock code %}
