<!DOCTYPE html>

<html lang="en">

<!-- Html header -->
<head>
    <!-- CSS sources-->
    {# include your css files #}
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
    {% block csshead %}{% endblock csshead %}

    <!-- Javascript sources-->
    {# include your js files #}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block jshead %}{% endblock jshead %}
</head>

<!-- Html body -->
<body class='{{page|default("myapp")}}'>

    <!-- Main Body -->
    <div class="container-fluid" id="content">
        {% block body %}{% endblock body %}
    </div>

    <!-- Javascript Code Block -->
    {% block code %}{% endblock code %}
</body>
</html>

